<app-spinner [hidden]="!displaySpinner"></app-spinner>
<app-toast></app-toast>
<div class="ui-g">
    <div class="ui-g-12">
        <h1 style="text-align: center;">Bem-vindo {{ auth.jwtPayload?.nome }}</h1>
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
        <div class="ui-g-12">
            <mat-card class="cards-top cardSaldo">
                <h1>Saldo</h1>
                <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="this.saldo"
                    disabled>
            </mat-card>
        </div>
        <div class="ui-g-12">
            <mat-card class="cards-top cardReceita">
                <h1>Receitas</h1>
                <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    [(ngModel)]="this.receitas" disabled>
            </mat-card>
        </div>
        <div class="ui-g-12">
            <mat-card class="cards-top cardDespesa">
                <h1>Despesas</h1>
                <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    [(ngModel)]="this.despesas" disabled>
            </mat-card>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
        <mat-card class="cards-big-charts">
            <h1>Gráfico lançamentos por tipo</h1>
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
        </mat-card>
    </div>
    <!-- <div class="ui-g-12">
        <mat-card class="cards-big-charts">
            <h1>Gráfico de lançamentos por dia</h1>
            <canvas class="bigChart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            <button pButton label="Gráfico de {{barChartType === 'bar'? 'linha':'barra'}}" (click)="randomize()"></button>
        </mat-card>
    </div> -->
    <div class="ui-g-12">
        <mat-card>
            <app-dashboard-crud-lancamentos [pessoa]="pessoa" (retornoPersistencia)="retornoCrudLancamento($event)">
            </app-dashboard-crud-lancamentos>
        </mat-card>
    </div>
</div>