<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="cards">
    <mat-card fxFlex="100" fxFlex.gt-md="25">
        <app-cards-fluxo-caixa label="Saldo em caixa" percentual="90"  total="10k"></app-cards-fluxo-caixa>
    </mat-card>
    <mat-card fxFlex="100" fxFlex.gt-md="25">
        <app-cards-fluxo-caixa label="Receitas" percentual="90" total="10k"></app-cards-fluxo-caixa>
    </mat-card>
    <mat-card fxFlex="100" fxFlex.gt-md="25">
        <app-cards-fluxo-caixa label="Despesas" percentual="90" total="10k"></app-cards-fluxo-caixa>
    </mat-card>
    <mat-card fxFlex="100" fxFlex.gt-md="25">
        <app-cards-fluxo-caixa label="Lucros" percentual="90" total="10k"></app-cards-fluxo-caixa>
    </mat-card>    
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="center center">
    <app-chart-area-lancamentos fxFlex="100" [lancamentos]="chartArea" 
    title="Gráfico de lançamentos por dia"></app-chart-area-lancamentos>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100" fxFlex.gt-md="60">Table</div>
    <div fxFlex="100" fxFlex.gt-md="40">
        <app-pie-fluxo-caixa [data]="chartPie"
        title="Gráfico lançamentos por categoria"></app-pie-fluxo-caixa>
    </div>
</div>