.ui-g{
    height: 100% !important;
    width:  100% !important;
    background-image: url(../../../assets/img/fundo-login.png);
    background-repeat: no-repeat;
}

.box{
    background:rgba(0,0,0,0.5);
    color: #fff;
    width: 350px;
    height: 300px;
}

.img{
    align-items: center !important;
    margin-top: -50px;
    margin-bottom: 0px;
    height: 100px;
    width: 100px;
}


.login{
    font-size:30px;
    font-weight: bold;
}

a{
    color: #fff;  
}

a:hover{
    color: #fff;    
}
