<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <ul class="title">
      <li><h1>Bem vindo ao sistema gestão financeiro</h1></li>
      <li><p>Aplicação foi desenvolvida com seguintes frameworks:</p></li>
      <li><a href='https://spring.io/'>Spring Framework</a> e <a href='https://docs.oracle.com/javase/8/docs/api/'>Java 8</a> para código server-side</li>
      <li><a href='https://angular.io/'>Angular 9</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para código client-side</li>
      <li><a href='https://material.angular.io/'>Angular Material</a> e <a href='https://primefaces.org/'>PrimeNg</a> para layout e estilo</li>
    </ul>
  </div>
</div>