<app-spinner [hidden]="!displaySpinner"></app-spinner>
<h1 class="titulo">Adicionar pessoa</h1> 
<div class="ui-g">
    <form class="ui-g-12" autocomplete="off" #f="ngForm" autocomplete="off" (ngSubmit)="adicionar()">
        <div class="ui-g-12 ui-md-8 ui-fluid">
            <span class="ui-float-label">
                <input pInputText type="text" name="nome" [(ngModel)]="pessoa.usuario.nome" maxlength="30"> 
                <label>Nome</label>
            </span>
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
            <span class="ui-float-label">
                <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="pessoa.cpf"></p-inputMask>
                <label>CPF</label>
            </span>
        </div>
        <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
                <input pInputText type="text" name="email" [(ngModel)]="pessoa.usuario.email" maxlength="50"> 
                <label>E-mail</label>
            </span>
        </div>
        <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
                <input pPassword type="password" name="senha" [(ngModel)]="pessoa.usuario.senha" 
                maxlength="12" [feedback]="false"> 
                <label>Senha</label>
            </span>
        </div>
        <div class="ui-g-12">
            <button mat-button type="submit">Adicionar</button>
            <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</div>