<div class="ui-g">
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Lançamentos</h1>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Categorias</h1>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Pessoas</h1>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Usuários</h1>
        </mat-card>
    </div>
    <div class="ui-g-12">
        <mat-card class="cards-big-charts">
            <h1>Gráfico de lançamentos por dia</h1>
            <canvas class="bigChart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            <button pButton label="Gráfico de {{barChartType === 'bar'? 'linha':'barra'}}" (click)="randomize()"></button>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
        <mat-card class="cards-big-charts">
            <h1>Gráfico lançamentos por categoria</h1>
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels"
            [chartType]="pieChartType" [options]="pieChartOptions"
            [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
        </mat-card>    
    </div>
</div>