<div class="ui-g">
    <!-- <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Lançamentos</h1>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Categorias</h1>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Pessoas</h1>
        </mat-card>
    </div>
    <div class="ui-g-12 ui-md-3">
        <mat-card class="cards-top">
            <h1>Usuários</h1>
        </mat-card>
    </div> -->
    <div class="ui-g-12">
        <mat-card class="cards-big-charts">
            <app-big-chart-lancamentos-mesal [ano]="anoReferencia"
            [receitas]="totaisReceitas" [despesas]="totaisDespesas"></app-big-chart-lancamentos-mesal>
         </mat-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
        <mat-card class="cards-big-charts">
            <app-pie-lancamentos-categoria [labels]="pieChartLabels"
            [data]="pieChartData"></app-pie-lancamentos-categoria>
        </mat-card>    
    </div>
</div>